
header {
  font-size: 15px;
  font-family: 'Verdana';
  color: #555555;
  position: fixed;
  background-color: #8FE8D8;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
}

img {
  padding-top: 190px;
  padding-left: 650px;
  align-items: center;
}

h1 {
  font-family: 'Verdana';
  color: #555555;
}

body {
  padding-top: 130px;
  background-color: #B4ECE5;
}

<form> {
  padding-top: 60px;
}

#menuGrid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#heading {
  text-align: left;
}

nav {
  text-align: right;
}

a {
  padding-top: 35px;
}

a#link {
  font-size: 25px;
  padding-right: 25px;
  text-decoration: none;
}

a#link1 {
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  transition:all 1.5s ease-in-out;
  color: #002ED8;
}
